.angular/cache
.angular/
node_modules/
.env
.DS_Store
.idea/
*.log
dist
bin/
obj/
*.dll
*.exe
*.user
*.suo
.vs/
*.tmp
packages/
*.pack
*.zip
*.tar
*.gz
*.apk
*.json
angular.json
package-lock.json
package.json
tsconfig.json
www/
