<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title> Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="wrapper">
    <ion-row>
      <ion-img class="logo" src="../../../assets/img/logo/VIAJESUC (220 x 110 mm).svg" alt="Logo"></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <form class="form-wrapper" [formGroup]="updatePasswordForm" (ngSubmit)="onUpdate()">
        <ion-input class="input-login" label="Nueva contraseña" label-placement="floating" type="password" formControlName="newPassword"
          [clearInput]="true" errorText="Contraseña inválida"></ion-input>
        <ion-input class="input-login" label="Confirmar contraseña" label-placement="floating" type="password" formControlName="confirmPassword"
          [clearInput]="true" errorText="Contraseña inválida"></ion-input>
        <ion-button type="submit" classtype="submit" class="button-form"> Restablecer contraseña </ion-button>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>